.header{
    height:55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid rgb(192, 192, 192);;
    background-color:white;
    z-index: 100;
}
.left-section{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hamburger-button{
    height:24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo{
   height: 20px;
}

.middle-section{
    
    flex: 1;
    margin-left: 70px;
    margin-right:35px;
    max-width: 500px;
    display: flex;
    align-items: center;
  
}
.search-box{

    flex: 1;
    height: 36px;
    border:1px solid rgb(192, 192, 192);
    border-width:2px;
    padding-left: 12px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}

.search-box::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search-box:active{
    border-color:gray;
}

.search-button{
    width:60px;
    height: 40px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    margin-left: -1px;
    margin-right: 10px;
    
}


.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.apps-icon-container .tooltip,
.notifications-icon-container .tooltip{
    font-family: Roboto, Arial;
    background-color:gray;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left:8px;
    padding-right: 8px;
    position: absolute;
    color: white;
    border-radius: 2px;
    opacity: 0;
    font-size: 12px;
    bottom: -30px;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;

}

.search-button,
.voice-search-button,
.upload-icon-container,
.apps-icon-container,
.notifications-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
    opacity: 1;
}
.notifications-count{
    background-color:rgb(216, 42, 42);
    padding:2px 5px;
    color:white;
    font-family: Roboto, Arial;
    border-radius: 50%;
    font-size: 10px;
    position: absolute;
    top:-1px;
    right: -4px;
}

.search-img{
    width:25px;
}

.voice-search-button{
    width:40px;
    height: 40px;
    border:none;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
}

.voice-search-img{
    height: 24px;

}


.right-section{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon{
    height: 24px;
}

.apps-icon{
    height: 24px;
}
.notifications-icon{
    height: 24px;
}
.profile-icon{
    height: 32px;
    border-radius: 16px;
}


.video-info-grid{
    position: relative;
}

.channel-info{
    position: absolute;
    bottom:-30px;
    left: 30px;
    opacity: 0;
    transition: opacity 0.15s;
    background-color:white;
    padding: 10px 20px;    
    display:flex;
    justify-content:center;
    border-radius: 5px;
}
.channel-info .video-author{
    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: bold;
    color: black;  

}
.channel-info .video-sub{
    font-family: Roboto, Arial;
    font-size: 12px;
    color: rgb(177, 176, 176);  
}

.channel-picture:hover .channel-info{
    opacity:1;
    
}
.profile{
    margin-right: 10px;
}


